<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Diaymako_AVPSM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>app.avpsm.serv.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutProduit</display-name>
    <servlet-name>AjoutProduit</servlet-name>
    <servlet-class>app.avpsm.serv.AjoutProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutProduit</servlet-name>
    <url-pattern>/AjoutProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurServ</display-name>
    <servlet-name>UtilisateurServ</servlet-name>
    <servlet-class>app.avpsm.serv.UtilisateurServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServ</servlet-name>
    <url-pattern>/UtilisateurServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connectionserv</display-name>
    <servlet-name>connectionserv</servlet-name>
    <servlet-class>app.avpsm.serv.connectionserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectionserv</servlet-name>
    <url-pattern>/connectionserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurServlet</display-name>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>app.avpsm.serv.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/UtilisateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>app.avpsm.serv.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProduitServlet</display-name>
    <servlet-name>ModifierProduitServlet</servlet-name>
    <servlet-class>app.avpsm.serv.ModifierProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProduitServlet</servlet-name>
    <url-pattern>/ModifierProduitServlet</url-pattern>
  </servlet-mapping>
</web-app>